/* importtion  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.blog {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.blog .sousblog1 {
  width: 100%;
  height: 350px;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog .sousblog1 img {
  width: 100%;
  margin-top: -300px;
}

.blog .sousblog1 .trablack {
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.591);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.blog-soustiltle {
  width: 87%;
}

.blog .sousblog1 .trablack h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  margin: 0;
}

.blog .sousblog1 .trablack p {
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.blog .sousblog1 .trablack p span {
  color: #eb9d0c;
}

.blog .blog-alldiv {
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgba(149, 149, 149, 0.237);
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
}

.blog .blog-title {
  width: 87%;
}

.blog .blog-title h2 {
  margin: 0px 0px 10px 0px;
  font-family: "Montserrat", sans-serif;
}

.blog .blog-title p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.729);
  margin: 0px 0px 10px 0px;
  font-family: "Montserrat", sans-serif;
}
.blog .blog-content {
  width: 87%;
  height: auto;
  display: flex;
  align-items: center;
  row-gap: 30px;
  gap: 41.5px;
  flex-wrap: wrap;
  justify-content: left;
  margin: 15px 0;
}
.blog .blog-content .content {
  background-color: green;
  width: 31%;
  height: 480px;
  position: relative;
  transition: 0.5s;
}
.blog .blog-content .content:hover {
  background-color: green;
  width: 31%;
  height: 480px;
  margin-top: -35px;
  transition: 0.5s;
}
.blog .blog-content .content .blog-card {
  background-color: green;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}

.blog .blog-content .content .blog-card img {
  width: 100%;
  overflow: hidden;
}
.blog .blog-content .content .blog-card .blog-card-text {
  width: 100%;
  position: absolute;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.159);
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 25px 0px;
}
.blog .blog-content .content .blog-card .blog-card-text .date {
  width: 85%;
  margin-bottom: 0px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400px;
}
.blog .blog-content .content .blog-card .blog-card-text .titre {
  width: 80%;
  margin-top: 5px;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;

  margin-bottom: 0px;
}
.blog .blog-content .content .blog-card .blog-card-text .show {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.blog .blog-content .content .blog-card .blog-card-text .show .paragraphe {
  width: 80%;
  padding-left: 10px;
  font-family: "Montserrat", sans-serif;

  margin-top: 200px;
  text-align: justify;
  transition: 1s;
}
.blog
  .blog-content
  .content:hover
  .blog-card
  .blog-card-text
  .show
  .paragraphe {
  width: 80%;
  padding-left: 10px;
  transition: 1s;
  margin-top: 15px;
  text-align: justify;
  transition: 1s;
}

.blog .blog-content .content .show-button {
  width: 100%;
  height: 100px;
  position: absolute;

  bottom: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
}
.blog .blog-content .content .show-button button {
  width: 90%;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  border: none;
  overflow: hidden;
  transition: opacity 1s ease-in-out, height 1s ease-in-out;
  margin-top: 73px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  background-color: #eb9d0c;
  font-family: "Montserrat", sans-serif;
  transition: 1s !important;
}
.blog .blog-content .content:hover .show-button button {
  width: 90%;
  height: 50px;
  opacity: 1;
  visibility: visible;
  border-radius: 5px;
  margin-top: 73px;
  transition: 1s !important;
}

.blog .blog-content .content .show-button button:hover {
  background-color: rgb(85, 79, 79);
  transition: 1s !important;
}
