/* importtion  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.blog {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.blog .sousblog1 {
  width: 100%;
  height: 350px;

  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog .sousblog1 img {
  width: 100%;
  margin-top: -300px;
}

.blog .sousblog1 .trablack {
  width: 100%;
  height: 350px;
  background-color: rgba(0, 0, 0, 0.591);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.blog-soustiltle {
  width: 87%;
}

.blog .sousblog1 .trablack h1 {
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  margin: 0;
}

.blog .sousblog1 .trablack p {
  color: white;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.blog .sousblog1 .trablack p span {
  color: #eb9d0c;
}

.blog .blog-alldiv {
  width: 100%;
  height: auto;
  display: flex;
  background-color: rgba(149, 149, 149, 0.237);
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
}

.blog .blog-title {
  width: 87%;
}

.blog .blog-title h2 {
  margin: 0px 0px 10px 0px;
  font-family: "Montserrat", sans-serif;
}

.blog .blog-title p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(128, 128, 128, 0.729);
  margin: 0px 0px 10px 0px;
  font-family: "Montserrat", sans-serif;
}

